In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB,MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score,accuracy_score

In [ ]:
# importing data set make sure it is on the same file
df=pd.read_csv('processedNegative.csv',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116
0,How unhappy some dogs like it though,talking to my over driver about where I'm goin...,Does anybody know if the Rand's likely to fall...,I miss going to gigs in Liverpool unhappy,There isnt a new Riverdale tonight ? unhappy,it's that A*dy guy from pop Asia and then the ...,Who's that chair you're sitting in? Is this ho...,don't like how jittery caffeine makes me sad,My area's not on the list unhappy think I'll ...,I want fun plans this weekend unhappy,...,and yet if parents invest in child's emotional...,YG should have sent them to MCD. I want to see...,i want more orientation unhappy,unhappy they not,YG should have sent them to MCD. I want to see...,wish knock out lang talaga for the new school ...,i miss so much unhappy,Same unhappy,Hi instant message your friend friend lang,hindi close friend? unhappy

In [ ]:
df = df.T
df

                                                      0
0                 How unhappy  some dogs like it though
1     talking to my over driver about where I'm goin...
2     Does anybody know if the Rand's likely to fall...
3            I miss going to gigs in Liverpool unhappy
4         There isnt a new Riverdale tonight ? unhappy
...                                                 ...
1112  wish knock out lang talaga for the new school ...
1113                            i miss so much unhappy
1114                                      Same unhappy
1115        Hi instant message your friend  friend lang
1116                        hindi close friend? unhappy

[1117 rows x 1 columns]

In [ ]:
df.columns = ['tweets']
df

                                                 tweets
0                 How unhappy  some dogs like it though
1     talking to my over driver about where I'm goin...
2     Does anybody know if the Rand's likely to fall...
3            I miss going to gigs in Liverpool unhappy
4         There isnt a new Riverdale tonight ? unhappy
...                                                 ...
1112  wish knock out lang talaga for the new school ...
1113                            i miss so much unhappy
1114                                      Same unhappy
1115        Hi instant message your friend  friend lang
1116                        hindi close friend? unhappy

[1117 rows x 1 columns]

In [ ]:
# importing test data set 
dft=pd.read_csv('processedPositive.csv',header=None)
dft.head()

,0,1,2,3,4,5,6,7,8,9,...,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185
0,An inspiration in all aspects: Fashion,fitness,beauty and personality. :)KISSES TheFashionIcon,Apka Apna Awam Ka Channel Frankline Tv Aam Adm...,Beautiful album from the greatest unsung guit...,Good luck to Rich riding for great project in ...,Omg he... kissed... him crying with joy,happy anniv ming and papi!!!!! love love happy,thanks happy,C'mon Tweeps,...,$ES_F $SPY Bulls are just relentless happy ...,Thanks for the recent follow Happy to connect ...,Thanks for the recent follow Happy to connect ...,Thanks for the recent follow Happy to connect ...,you know that the problem still exist :D,Thanks for the recent follow Happy to connect ...,- top engaged members this week happy,ngam to weeks left for cadet pilot exam cryin...,Great! You're welcome Josh happy ^Adam,Sixth spot not applicable Team! Higher pa! :)K...

In [ ]:
dft = dft.T
dft

                                                      0
0                An inspiration in all aspects: Fashion
1                                               fitness
2       beauty and personality. :)KISSES TheFashionIcon
3     Apka Apna Awam Ka Channel Frankline Tv Aam Adm...
4     Beautiful album from  the greatest unsung guit...
...                                                 ...
1181  Thanks for the recent follow Happy to connect ...
1182              - top engaged members this week happy
1183  ngam to  weeks left for cadet pilot exam cryin...
1184            Great! You're welcome Josh happy  ^Adam
1185  Sixth spot not applicable Team! Higher pa! :)K...

[1186 rows x 1 columns]

In [ ]:
dft.columns = ['tweets']
dft

                                                 tweets
0                An inspiration in all aspects: Fashion
1                                               fitness
2       beauty and personality. :)KISSES TheFashionIcon
3     Apka Apna Awam Ka Channel Frankline Tv Aam Adm...
4     Beautiful album from  the greatest unsung guit...
...                                                 ...
1181  Thanks for the recent follow Happy to connect ...
1182              - top engaged members this week happy
1183  ngam to  weeks left for cadet pilot exam cryin...
1184            Great! You're welcome Josh happy  ^Adam
1185  Sixth spot not applicable Team! Higher pa! :)K...

[1186 rows x 1 columns]

In [ ]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1117 entries, 0 to 1116
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  1116 non-null   object
dtypes: object(1)
memory usage: 49.7+ KB

In [ ]:
dft.info()
dft.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1186 entries, 0 to 1185
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweets  1183 non-null   object
dtypes: object(1)
memory usage: 50.8+ KB

                                                   tweets
count                                                1183
unique                                               1001
top     Thanks for the recent follow Happy to connect ...
freq                                                   34

In [ ]:
df=df.applymap(str)
print(df.dtypes)

tweets    object
dtype: object

In [ ]:
dft=dft.applymap(str)
print(dft.dtypes)

tweets    object
dtype: object

In [ ]:
#converting all the strings into lower case letters.
df_lower = df["tweets"].map(lambda x: x.lower())
#converting all the strings into lower case letters.
dft_lower = dft["tweets"].map(lambda x: x.lower())

In [ ]:
df_lower_tweets = pd.DataFrame(df_lower)
dft_lower_tweets = pd.DataFrame(dft_lower)

In [ ]:
df_lower_tweets

                                                 tweets
0                 how unhappy  some dogs like it though
1     talking to my over driver about where i'm goin...
2     does anybody know if the rand's likely to fall...
3            i miss going to gigs in liverpool unhappy
4         there isnt a new riverdale tonight ? unhappy
...                                                 ...
1112  wish knock out lang talaga for the new school ...
1113                            i miss so much unhappy
1114                                      same unhappy
1115        hi instant message your friend  friend lang
1116                        hindi close friend? unhappy

[1117 rows x 1 columns]

In [ ]:
data = df_lower_tweets
datat = dft_lower_tweets

In [ ]:
# i tried removing special characters(punctuation marks which are listed below) from dataframe
data['tweets'] = data['tweets'].str.replace(r"[!$%&'()*+,-./:;<=>?[\]^_`{|}~]", '',regex=True)
data
# i tried removing special characters from dataframe
datat['tweets'] = datat['tweets'].str.replace(r"[!$%&'()*+,-./:;<=>?[\]^_`{|}~]", '',regex=True)
datat

                                                 tweets
0                 an inspiration in all aspects fashion
1                                               fitness
2          beauty and personality kisses thefashionicon
3     apka apna awam ka channel frankline tv aam adm...
4     beautiful album from  the greatest unsung guit...
...                                                 ...
1181  thanks for the recent follow happy to connect ...
1182                top engaged members this week happy
1183  ngam to  weeks left for cadet pilot exam cryin...
1184               great youre welcome josh happy  adam
1185  sixth spot not applicable team higher pa kisse...

[1186 rows x 1 columns]

In [ ]:
# # tried removing @USER
# data['welsh tweets'] = data['welsh tweets'].str.replace(r'@user', '')

In [ ]:
# # tried removing URL
# data['welsh tweets'] = data['welsh tweets'].str.replace(r'url', '')

In [ ]:
# tried dropping duplicate elements
# df_final = df_final.drop_duplicates()
# df_final

In [ ]:
# data_final = data.drop_duplicates()
# data_final

In [ ]:
# datat_final = data.drop_duplicates()
# datat_final

In [ ]:
df['index'] = 0
df

                                                 tweets  index
0                 How unhappy  some dogs like it though      0
1     talking to my over driver about where I'm goin...      0
2     Does anybody know if the Rand's likely to fall...      0
3            I miss going to gigs in Liverpool unhappy       0
4         There isnt a new Riverdale tonight ? unhappy       0
...                                                 ...    ...
1112  wish knock out lang talaga for the new school ...      0
1113                            i miss so much unhappy       0
1114                                      Same unhappy       0
1115        Hi instant message your friend  friend lang      0
1116                        hindi close friend? unhappy      0

[1117 rows x 2 columns]

In [ ]:
dft['index'] = 1
dft

                                                 tweets  index
0                An inspiration in all aspects: Fashion      1
1                                               fitness      1
2       beauty and personality. :)KISSES TheFashionIcon      1
3     Apka Apna Awam Ka Channel Frankline Tv Aam Adm...      1
4     Beautiful album from  the greatest unsung guit...      1
...                                                 ...    ...
1181  Thanks for the recent follow Happy to connect ...      1
1182              - top engaged members this week happy      1
1183  ngam to  weeks left for cadet pilot exam cryin...      1
1184            Great! You're welcome Josh happy  ^Adam      1
1185  Sixth spot not applicable Team! Higher pa! :)K...      1

[1186 rows x 2 columns]

In [ ]:
frames = [df,dft]
data = pd.concat(frames)
data

                                                 tweets  index
0                 How unhappy  some dogs like it though      0
1     talking to my over driver about where I'm goin...      0
2     Does anybody know if the Rand's likely to fall...      0
3            I miss going to gigs in Liverpool unhappy       0
4         There isnt a new Riverdale tonight ? unhappy       0
...                                                 ...    ...
1181  Thanks for the recent follow Happy to connect ...      1
1182              - top engaged members this week happy      1
1183  ngam to  weeks left for cadet pilot exam cryin...      1
1184            Great! You're welcome Josh happy  ^Adam      1
1185  Sixth spot not applicable Team! Higher pa! :)K...      1

[2303 rows x 2 columns]

In [ ]:
# train set
vectorizer = CountVectorizer(min_df=2,stop_words='english',max_features=4000)
features = vectorizer.fit_transform(data['tweets'])
indexs = data['index']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(features,indexs, test_size=0.2,random_state=10)

In [ ]:
naivebayes_bernoulli = BernoulliNB()
naivebayes_bernoulli.fit(x_train.toarray(), y_train)

BernoulliNB()

In [ ]:
naivebayes_multinomial = MultinomialNB()
naivebayes_multinomial.fit(x_train.toarray(), y_train)

MultinomialNB()

In [ ]:
lr = LogisticRegression(max_iter=2000)
lr.fit(x_train, y_train)

LogisticRegression(max_iter=2000)

In [ ]:
nbbpredict = naivebayes_bernoulli.predict(x_test.toarray())

In [ ]:
nbmpredict = naivebayes_multinomial.predict(x_test.toarray())

In [ ]:
lrpredict = lr.predict(x_test)

In [ ]:
x_prob = lr.predict_proba(x_test)

In [ ]:
##### validation accuracy ########

In [ ]:
print(metrics.classification_report(y_test,nbmpredict))

              precision    recall  f1-score   support

           0       0.88      0.89      0.89       222
           1       0.90      0.89      0.89       239

    accuracy                           0.89       461
   macro avg       0.89      0.89      0.89       461
weighted avg       0.89      0.89      0.89       461

In [ ]:
print(metrics.classification_report(y_test,nbbpredict))

              precision    recall  f1-score   support

           0       0.89      0.86      0.87       222
           1       0.87      0.90      0.89       239

    accuracy                           0.88       461
   macro avg       0.88      0.88      0.88       461
weighted avg       0.88      0.88      0.88       461

In [ ]:
from sklearn.metrics import f1_score,recall_score
print(metrics.classification_report(y_test,lrpredict))
print(roc_auc_score(y_test, x_prob[:, 1]))
print(accuracy_score(y_test,lrpredict))
print(recall_score(y_test,lrpredict))

              precision    recall  f1-score   support

           0       0.95      0.83      0.89       222
           1       0.86      0.96      0.91       239

    accuracy                           0.90       461
   macro avg       0.91      0.90      0.90       461
weighted avg       0.90      0.90      0.90       461

0.9697312375136644
0.8980477223427332
0.9623430962343096